<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.pokai.weekly-journal</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Library/Frameworks/Python.framework/Versions/3.13/bin/python3</string>
        <string>-m</string>
        <string>weekly.run_weekly</string>
        <string>--no-discord</string>
        <string>--select-top</string>
        <string>5</string>
    </array>

    <key>WorkingDirectory</key>
    <string>/Users/pokai/JournalFetcher</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/Users/pokai/.local/bin:/opt/homebrew/bin:/Library/Frameworks/Python.framework/Versions/3.13/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
        <key>HOME</key>
        <string>/Users/pokai</string>
    </dict>

    <key>StartCalendarInterval</key>
    <dict>
        <key>Weekday</key>
        <integer>0</integer>
        <key>Hour</key>
        <integer>0</integer>
        <key>Minute</key>
        <integer>15</integer>
    </dict>

    <key>StandardOutPath</key>
    <string>/Users/pokai/JournalFetcher/output/logs/weekly.out.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/pokai/JournalFetcher/output/logs/weekly.err.log</string>

    <key>RunAtLoad</key>
    <false/>
</dict>
</plist>
